@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Poppins);
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.first {
    color: blue;
}